<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<h4>Written By</h4>
<p><%= @post.author.email %></p>

<%if @post.author.id == session[:user_id] %>
  <a href="/posts/<%= @post.id %>/edit">Edit Post</a>
  <a href="/posts/<%= @post.id %>/delete">Delete Post</a>
<% end %>

<form action='/posts/<%= @post.id %>/comments' method="POST" >
  <textarea name="comment[body]" row="2" col='45'></textarea>
  <input type="submit">
</form>
<% @comment.each do |comment| %>
  <p><%= comment.body %></p><span> <%= comment.user.email %></span>
<% end %>

